div{border:solid 3px pink;
margin:5px;
background-color: blue;}
#b1{width:100%;
background-color: yellow}
#b2{background-color: blue;}
#b3{background-color:grey;
width:25%;
margin: 5px;
float: left;}
#b4{background-color:grey;
width:60%;
float: left;
border:solid 0px grey;
margin: 5px;}
#b5{background-color:grey;
 width:13%;
clear: both;
margin: 5px;}
